modules = ["python-3.12", "web"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project Info"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "telegram-bot"

[[workflows.workflow]]
name = "Project Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python info.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "telegram-bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
RAILWAY_DATABASE_URL = "postgresql://postgres:BooQrYgKptKvTnXBLfdGVmDzJVRyWqLw@tramway.proxy.rlwy.net:51266/railway"
