modules = ["web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35381
externalPort = 3000
